# Binaries
/local-compose
/bin/
/internal/web/dist/*
!/internal/web/dist/.gitkeep
/web/src/assets/fonts/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.out
coverage.html
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
.dirac-cache/
.openchamber/
